@import "system.scss";
@import "reset.scss";

body {
    font-family: $type-family-base;
    font-size: $type-size;
    font-weight: $type-weight;
    font-style: $type-style;
    line-height: $type-line-height;
    background-color: $color-background;
    color: $color-text;
    padding: 2rem;
}

.mono {
    font-family: $type-family-mono;
}

.token-list-item {
    padding-top: 1rem;
}

.token-list-item__name {
    color: -webkit-link;
}

.token-list__section,
footer {
    padding-top: 2rem;
}

h2 {
    font-weight: 700;
}