@import "reset.scss";
@import "button-reset.scss";

body {
    font-family: var(--type-family-base);
    color: var(--color-text);
    background-color: var(--color-background);
    padding: 1rem;
}

.mono {
    font-family: var(--type-family-mono);
}

.token-list__section {
    padding-top: 0.5rem;
}

.token-list__section + .token-list__section,
footer {
    padding-top: 2rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h1,
h2 {
    font-weight: 700;
}

h3 {
    margin-bottom: 1rem; 
}

h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bold {
    font-weight: 700;
}

.how-to__text {
    padding: 0.5rem 0;
    font-family: var(--type-family-mono);
    white-space: pre-wrap;
}

.container {
    max-width: 60rem;
}